html {
    background-color: #F5F0E9;
}

body {
    margin: 0.5%;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@200..900');
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
}

.text-container a {
    color: #FE5614; 
    text-decoration: none;
}

.footer {
    background-color: #FE5614; 
    border-radius: 5rem; 
    width: 20rem;
    margin: 0 auto; 
    padding: 0.8% 0;
    justify-content: space-around;
}

.icon-wrapper {
    flex-direction: column;
}

.icon-wrapper img {
    width: 1.8rem;
    height: 1.8rem;
}

.icon-wrapper a {
    color: black;
    text-decoration: none;
    font-size: medium;
}

.icon-wrapper a:hover {
    color: white;
    font-weight: bold;
}

#github-icon{
    width: 3.2rem;
}